In [1]:
import pandas as pd
import numpy as np
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
from datetime import datetime
import pandas_datareader.data as web
init_notebook_mode(connected=True)

In [2]:
data = pd.read_csv("/Users/leesa/Downloads/Viz_project/airport.csv")

In [3]:
df = data[['Origin_state', 'Passengers', 'Fly_date', 'Year']]
df = df.groupby(['Origin_state', 'Fly_date', 'Year'])['Passengers'].sum().reset_index()
df = df.groupby(['Origin_state', 'Year'])['Passengers'].mean().reset_index()
df.head()

  Origin_state  Year     Passengers
0           AK  2000  197716.333333
1           AK  2001  197246.083333
2           AK  2002  208416.416667
3           AK  2003  205828.083333
4           AK  2004  221796.333333

In [4]:
data1 = go.Scatter(
        x=df[df['Origin_state'] == 'CA']['Year'], 
        y=df[df['Origin_state'] == 'CA']['Passengers']
    )

data2 = go.Scatter(
        x=df[df['Origin_state'] == 'TX']['Year'], 
        y=df[df['Origin_state'] == 'TX']['Passengers']
    )

fig_data = [data1, data2]
fig = go.Figure(data = fig_data)
plot(fig, filename='fig1')

/Users/leesa/anaconda/envs/fv/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `fig1` didn't end with .html. Adding .html to the end of your file.

'file:///Users/leesa/Downloads/Viz_project/fig1.html'

In [ ]:
data1 = []

for state in df['Origin_state'].drop_duplicates():
    data1.append(go.Scatter(x=df[df['Origin_state'] == state]['Year'].values.tolist(),
                        y=df[df['Origin_state'] == state]['Passengers'].values.tolist(),
                        name= state,
                       visible=False,
                       #text = df[df['Origin_state'] == state]['Passengers'].values.tolist(),
                       #textposition='auto'
                        ))

buttons = []

for row, state in df.Origin_state.drop_duplicates().reset_index()['Origin_state'].iteritems():
    condition = [False]*len(df.Origin_state.drop_duplicates())
    condition[row] = True
    buttons.append(dict(label = state,
                 method = 'update',
                 args = [{'visible': condition},
                         {'title': 'Trend across the years in : ' + state,
                          }]))

updatemenus=list([
    dict(
        buttons = buttons,
        pad = {'r': 0, 't': 10},
        #x = 0.1,
        #xanchor = 'left',
       # y = 1.0,
        yanchor = 'top',
        bgcolor = 'AAAAAA',
        active = 99,
        bordercolor = '#FFFFFF',
        font = dict(size=11, color='#000000'))])

layout = dict(title='Trend across the years', showlegend=False,
              updatemenus=updatemenus)

figure = dict(data=data1, layout=layout)
#plotly.offline.plot(figure)
iplot(figure)

In [4]:
df3 = data[['Passengers', 'Fly_date', 'Year']]
df3 = df3.groupby(['Fly_date', 'Year'])['Passengers'].sum().reset_index()
df3 = df3.groupby(['Year'])['Passengers'].mean().reset_index()
df3.head()

   Year    Passengers
0  2000  4.449642e+07
1  2001  4.141747e+07
2  2002  4.050238e+07
3  2003  4.241575e+07
4  2004  4.553912e+07

In [6]:
fig_data = [go.Scatter(
        x=df3['Year'], 
        y=df3['Passengers']
    )]

fig = go.Figure(data = fig_data)
iplot(fig)

In [6]:
data1 = go.Scatter(
        x=df[df['Origin_state'] == 'CA']['Year'], 
        y=df[df['Origin_state'] == 'CA']['Passengers'],
        name = 'CA'
    )

data2 = go.Scatter(
        x=df[df['Origin_state'] == 'TX']['Year'], 
        y=df[df['Origin_state'] == 'TX']['Passengers'],
        name = 'TX'
    )

data3 = go.Scatter(
        x=df3['Year'], 
        y=df3['Passengers'].divide(10),
        name = 'USA (scaled)'
    )
fig_data = [data1, data2, data3]
fig = go.Figure(data = fig_data)
plot(fig, filename='fig1')

'file:///Users/leesa/Downloads/Viz_project/fig1.html'

In [9]:
df1 = data[['Flights', 'Fly_date', 'Month', 'Year']]
df1 = df1.groupby(['Month', 'Year'])['Flights'].sum().reset_index()
df1 = df1.groupby(['Month'])['Flights'].mean().reset_index()
df1.head()

   Month   Flights
0      1  625188.1
1      2  578996.5
2      3  650260.6
3      4  630876.6
4      5  650324.2

In [10]:
fig_data = [go.Scatter(
        x=df1['Month'], 
        y=df1['Flights']
    )]

fig = go.Figure(data = fig_data)
iplot(fig)

In [11]:
df2 = data[['Passengers', 'Fly_date', 'Month', 'Year']]
df2 = df2.groupby(['Month', 'Year'])['Passengers'].sum().reset_index()
df2 = df2.groupby(['Month'])['Passengers'].mean().reset_index()
df2.head()

   Month  Passengers
0      1  38910985.4
1      2  38426726.8
2      3  47096977.7
3      4  45354560.3
4      5  46801089.2

In [14]:
fig_data = [go.Scatter(
        x=df2['Month'], 
        y=df2['Passengers'].divide(100)
    )]

fig = go.Figure(data = fig_data)
iplot(fig)

In [27]:
data1 = go.Scatter(
        x=df1['Month'], 
        y=df1['Flights'],
        name = 'monthly flights'
    )

data2 = go.Scatter(
        x=df2['Month'], 
        y=df2['Passengers'].divide(100),
        name = 'monthly passengers in hundreds'
    )
data3 = go.Scatter(
        x=df3['Month'], 
        y=df3['ratio'].multiply(10000),
        name = 'passengers per 10000 flights'
    )

fig_data = [data1, data2, data3]
fig = go.Figure(data = fig_data)
plot(fig, filename='flight_passengers')

/Users/leesa/anaconda/envs/fv/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `flight_passengers` didn't end with .html. Adding .html to the end of your file.

'file:///Users/leesa/Downloads/Viz_project/flight_passengers.html'

In [18]:
df3 = df1.merge(df2)
df3['ratio'] = df3['Passengers']/df3['Flights']

In [24]:
fig_data = [go.Scatter(
        x=df3['Month'], 
        y=df3['ratio'].multiply(10000)
    )]

fig = go.Figure(data = fig_data)

iplot(fig, filename='flight_passengers_ratio')