In [1]:
import pandas as pd
import numpy as np
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
from datetime import datetime
import pandas_datareader.data as web
init_notebook_mode(connected=True)

In [2]:
data = pd.read_csv("/Users/leesa/Downloads/Viz_project/airport.csv")

In [3]:
df = data[data["Fly_date"] >= '2009-01-01']
df = df[['Origin_state', 'Passengers', 'Fly_date']]
df = df.groupby(['Origin_state', 'Fly_date'])['Passengers'].sum().reset_index()

In [11]:
df = data[data["Fly_date"] >= '2009-01-01']
df = df[['Origin_state', 'Passengers', 'Fly_date']]
df = df.groupby(['Origin_state', 'Fly_date'])['Passengers'].sum().reset_index()
df = df.groupby(['Origin_state'])['Passengers'].mean().reset_index()
#df.Passengers = [np.log(x) for x in df.Passengers]
df.head()

  Origin_state    Passengers
0           AK  2.084442e+05
1           AL  2.115337e+05
2           AR  1.436639e+05
3           AZ  1.532344e+06
4           CA  4.685130e+06

In [6]:
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['Origin_state'] + '<br>' +\
    'Passengers '+ df['Passengers']

fig_data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['Origin_state'],
        z = df['Passengers'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Avg passengers")
        ) ]

layout = dict(
        title = '2009 Average passengers by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict(data=fig_data, layout=layout)
iplot(fig)
# plot(fig, filename='air_passengers')

In [40]:
df2 = data[data["Fly_date"] >= '2009-01-01']
df2 = df2[['Origin_state', 'Origin_population', 'Origin_city']].drop_duplicates()
df2 = df2.groupby(['Origin_state'])['Origin_population'].sum().reset_index()
#df.Passengers = [np.log(x) for x in df.Passengers]
df2.head()

  Origin_state  Origin_population
0           AK             530360
1           AL            2783121
2           AR            1878901
3           AZ            6278372
4           CA           69239202

In [42]:
len(df), len(df2), len(df3)

(51, 51, 51)

In [41]:
df3 = df.merge(df2)
df3['proportion'] = df3['Passengers']/df3['Origin_population']
df3.head()

  Origin_state    Passengers  Origin_population  proportion
0           AK  2.084442e+05             530360    0.393024
1           AL  2.115337e+05            2783121    0.076006
2           AR  1.436639e+05            1878901    0.076462
3           AZ  1.532344e+06            6278372    0.244067
4           CA  4.685130e+06           69239202    0.067666

In [43]:
df3.proportion.max(), df3.proportion.min()

(0.6509946671119173, 1.0338459957974704e-05)

In [45]:
df3.sort_values('proportion').tail()

,Origin_state,Passengers,Origin_population,proportion,text
30,NH,1.310362e+05,405906,0.322824,NH<br>Proportion 0.32282412676826655
0,AK,2.084442e+05,530360,0.393024,AK<br>Proportion 0.3930240779847651
10,GA,2.964298e+06,7479137,0.396342,GA<br>Proportion 0.3963422740707473
11,HI,6.787630e+05,1230566,0.551586,HI<br>Proportion 0.5515860181412455
33,NV,1.543963e+06,2371698,0.650995,NV<br>Proportion 0.6509946671119173

In [49]:

scl = [[0,"#00441b"],[0.05,"#006d2c"],[0.1,"#238b45"],\
            [0.2,"#41ae76"],[0.3,"#66c2a4"],[0.5,"#ccece6"],[0.7,"#e5f5f9"]]


df3['text'] = df3['Origin_state'].astype(str) + '<br>' +\
    'Proportion '+ df3['Origin_population'].astype(str) + '<br>' + 'Passengers '+ df3['Passengers'].astype(str)

fig_data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        reversescale = True,
        locations = df3['Origin_state'],
        z = df3['proportion'].astype(float),
        locationmode = 'USA-states',
        text = df3['text'],
        marker = dict(
            line = dict (
                color = 'rgb(150, 150, 150)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Avg passengers")
        ) ]

layout = dict(
        title = '2009 passengers density by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict(data=fig_data, layout=layout)
# iplot(fig)
plot(fig, filename='air_passengers_density')

/Users/leesa/anaconda/envs/fv/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `air_passengers_density` didn't end with .html. Adding .html to the end of your file.

'file:///Users/leesa/Downloads/Viz_project/air_passengers_density.html'